<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}} - {{ group_name }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu:700' type='text/css'>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" type='text/css'>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/default.min.css">
    <style>
      .table {
        width: 70%;
      }
      .table > tbody > tr > td.property {
        padding-left: 10px;
      }
      body {
        margin-left: 50px;
      }
      .url_description, .display_name {
        color: #0000ff;
      }
      .example {
        display: none;
      }
    </style>
  </head>
  <body>
    <h2 style='margin-left:10px;'>{{title}} - {{ group_name }}</h2></ br>
    {{# actions}}
    <br>
    {{#display_name}}
    <div>
        <span id="{{named_anchor}}" class="display_name"><strong>{{ display_name }}</strong></span></span>
    </div>
    {{/display_name}}
    <div>
      <span class="url_description"><strong>{{ verb }} /v2{{ url }}</strong>&nbsp;-&nbsp;<span>{{ description }}</span></span>
    </div>
    <br>
    <table class="table table-striped table-bordered table-condensed">
      <tbody>
        {{#has_required_parameters }}
        <tr>
          <td><strong>Required Fields</strong></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Key</strong></td>
          <td><strong>Description</strong></td>
        </tr>
        {{#required_parameters }}
        <tr>
          <td class="property">{{ name }}</td>
          <td class="property">{{ description }}</td>
        </tr>
        {{/required_parameters }}
        {{/has_required_parameters }}
        {{#has_optional_parameters }}
        <tr>
          <td><strong>Optional Fields</strong></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>Key</strong></td>
          <td><strong>Description</strong></td>
        </tr>
        {{#optional_parameters }}
        <tr>
          <td class="property">{{ name }}</td>
          <td class="property">{{ description }}</td>
        </tr>
        {{/optional_parameters }}
        {{/has_optional_parameters }}
        {{#has_ok_response }}
          <tr>
            <td><strong>Response</strong></td>
            <td></td>
          </tr>
        <tr>
          <td><strong>Key</strong></td>
          <td><strong>Description</strong></td>
        </tr>
        {{# response_properties }}
        <tr>
          <td class="property">{{{ name }}}</td>
          <td class="property">{{ description}}</td>
        </tr>
        {{/response_properties }}
        {{/has_ok_response }}
        {{#has_example}}
        <tr>
          <td class="example_header">
            <span>
              <strong>Example</strong>
            </span>
            <span class="glyphicon glyphicon-plus" />
          </td>
          <td><pre class="example"><code>{{ example }}</code></pre></td>
        </tr>
        {{/has_example}}
      </tbody>
    </table>
    {{/ actions}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>  
    <script>
      $(document).ready(function() {
        $('.example_header').click(function() { 
          $(this).parents('tr').find('.example').slideToggle();
        });
      });
    </script>
  </body>
</html>