Title: {{ title }}
{{# resources}}
  {{# actions}}

{{ verb }} {{ full_url }}
    {{# headers? }}
  Headers:
      {{# headers}}
    {{ name }}: {{ description }}
      {{/ headers}}
    {{/ headers? }}
    {{# query_parameters? }}
  Query String:
      {{# query_parameters}}
    {{ name }} ({{ type }}){{# description?}} - {{ description }}{{/ description?}}{{# example?}} e.g. {{example}} {{/ example?}}
      {{/ query_parameters}}
    {{/ query_parameters? }}
  Responses: {{ response_status_codes }}
  {{/ actions}}
{{/ resources}}