<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resource errors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu:700' type='text/css'>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" type='text/css'>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <style>
      .table {
        width: 70%;
      }
      .table > tbody > tr > td.property {
        padding-left: 10px;
      }
      body {
        margin-left: 50px;
      }
    </style>
  </head>
  <body>
    <h2>Title: {{ title }}</h2>
    {{# resources}}
    <div class="resource_error">
      <h3>{{ verb }} {{ url }}</h3>
      {{# errors }}
      <h4>Main Error: {{ error_code }}</h4>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Property</th>
            <th>Code</th>
            <th>Messages</th>
            <th>Params</th>
          </tr>
        </thead>
        <tbody>
      {{# sub_errors }}
          <tr>
            <td>{{ property }} </td>
            <td>{{ code }} </td>
            <td>{{ message }} </td>
            <td>{{ params }}</td>
          </tr>
      {{/ sub_errors }}
        </tbody>
      </table>
      {{/ errors}}
    </div>
    {{/ resources}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>    
  </body>
</html>